<div id="otp">


    <header id="header" class="container-fluid fixed">
  
      <section id="page-title" class="row align-items-center">
  
  
        <article class="col-auto pr-0" id="logo">
          <img src="//assets.openport.com/icon/icon-op-app-logo-white.svg">
        </article>
  
        <article class="col" id="view-title" style="padding-left: 0.25rem">Consignee</article>
  
  
      </section>
    </header>
  
  
    <main id="details" class=" container-fluid ">
  
      <section class="row ">
  
        <article class="col-12 ">
          <h1>OTP Validation</h1>
  
        </article>
      </section>
  
      <section class="row text-center ">
  
          <article class="col-2 ">   <p class="fake-text-input">6</p> </article>
          <article class="col-2 ">   <p class="fake-text-input">2</p> </article>
          <article class="col-2 ">   <p class="fake-text-input">6</p> </article>
          <article class="col-2 ">   <p class="fake-text-input">9</p> </article>
          <article class="col-2 ">   <p class="fake-text-input">4</p> </article>
          <article class="col-2 ">   <p class="fake-text-input">4</p> </article>
  
  
      </section>
  
  
      <section class="row ">
  
        <article class="col-12 ">
          <p>
            <button class="btn btn-block">Resend OTP in 4m 2s</button>
          </p>
        </article>
      </section>
  
     <!--  <section class="row ">
  
        <article class="col-12 ">
          <p style="font-size: 0.9rem;">Resend OTP</p>
  
        </article>
      </section> -->
  
    </main>
  
  </div>