<div id="register">


  <header id="header" class="container-fluid fixed">

    <section id="page-title" class="row align-items-center">


      <article class="col-auto pr-0" id="logo">
        <img src="//assets.openport.com/icon/icon-op-app-logo-white.svg">
      </article>

      <article class="col" id="view-title" style="padding-left: 0.25rem">Consignee</article>


    </section>
  </header>


  <main id="details" class=" container-fluid ">

    <section class="row ">

      <article class="col-12 ">
        <h1>Registration</h1>

      </article>
    </section>

    <section class="row ">

      <article class="col-12 ">
        <span class="h4">Mobile No.</span>
        <p class="fake-text-input">+63
          <i class="material-icons">
            arrow_drop_down
          </i> 932 881 5050</p>

      </article>

      <article class="col-12 ">
        <span class="h4">Email </span>
        <p class="fake-text-input">avril_incuboys@yahoo.com
          <i class="material-icons float-right">
            error
          </i>
        </p>
        <!-- <span class="error">Email already in use. Please use another email</span> -->

      </article>
      <article class="col-12 ">
        <span class="h4">Consignee Code</span>
        <p class="fake-text-input">PHL-OPX</p>

      </article>

      <article class="col-6 ">
        <span class="h4">First Name</span>
        <p class="fake-text-input">April Boyd</p>

      </article>

      <article class="col-6 ">
        <span class="h4">Last Name</span>
        <p class="fake-text-input">Rejime</p>

      </article>
      <article class="col-6 ">
        <span class="h4">Password</span>
        <p class="fake-text-input">&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679; </p>

      </article>
      <article class="col-6 ">
        <span class="h4">Retype Password</span>
        <p class="fake-text-input">&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679; </p>

      </article>



    </section>


    <section class="row ">

      <article class="col-12 ">
        <p>
          <button class="btn btn-block">Submit</button>
        </p>
      </article>
    </section>

    <section class="row ">

      <article class="col-12 ">
        <p style="font-size: 0.9rem;">Already have an account?
         Login here.</p>

      </article>
    </section>

  </main>

</div>