<div id="signature">


    <header id="header" class="container-fluid fixed">
  
      <section id="page-title" class="row align-items-center">
  
  
        <article class="col-auto pr-0" id="logo">
          <img src="//assets.openport.com/icon/icon-op-app-logo-white.svg">
        </article>
  
        <article class="col" id="view-title" style="padding-left: 0.25rem">Consignee</article>
  
  
      </section>
    </header>
  
  
    <main id="details" class=" container-fluid ">
  
      <section class="row ">
  
        <article class="col-12 ">
          <h1>Enter Driver Signature</h1>
  
        </article>
      </section>
  
      <section id="signature-box" class="row ">
  
          <article class="col-12 ">
           
          </article>
        </section>

      <section class="row ">
  
    
      
     
  
        <article class="col-6 ">
          <span class="h4">Driver Name</span>
          <p class="fake-text-input_OFF">April Boyd Rejime</p>
    
          </article>

          <article class="col-12 ">
              <span class="h4">Mobile No.</span>
              <p class="fake-text-input_OFF">+63
                932 881 5050 </p>
      
            </article>
      
  
  
      </section>
  
  
      <section class="row ">
  
        <article class="col-12 ">
          <p>
            <button class="btn btn-block">Submit</button>
          </p>
        </article>
      </section>
  
     
  
    </main>
  
  </div>