<div id="shipment-epod" class="shipment-details">


  <header id="header" class="container-fluid  fixed">

    <section id="page-title" class="row align-items-center">

      <article class="col-auto " id="menu-toggle">
        <a class="" routerLink="/">
          <i class="material-icons">arrow_back</i>
        </a>
      </article>

      <article class="col-auto p-0 ">
        <span class="h4 feed-shipment-status">Shipment No.</span>
        <h1 class="feed-shipment-number">NSTL-1288938</h1>
      </article>

    </section>

    <aside class="row align-items-center shipment-details-nav">

      <article class="col-auto ">
        <a class="" routerLink="/tnt"> Track &amp; Trace</a>
      </article>

      <article class="col-auto ">
        <a class="" routerLink="/details"> Details</a>
      </article>

      <article class="col-auto ">
        <a class="" routerLink="/epod" routerLinkActive="link-active"> ePod</a>
      </article>

    </aside>

  </header>


  <main id="details" class=" container-fluid ">
    <section class="row">

      <article class="col-12 ">
        <span class="h4">Overall Comments</span>
        <p class="fake-text-input">Lorem ipsum dolor sit amet, consect etuer adipiscing elit. Cum sociis ipsum dolor sit amet natoque penatibus et magnis
          dis parturient montes, nascetur ridiculus mus. </p>
      </article>





    </section>




    <!-- <section class="row">


       

      <article class="col-12 ">
       <table>
         <tr class="d-none">
           <th>           PRODUCT CODE         </th>
           <th>           Description   </th>
           <th>          Qty    </th>
        </tr>

        <tr>
            <td>         AEC-616      </td>
            <td>           Duck Eggs   </td>
            <td>          50 <span class="uom">CTN</span>    </td>
         </tr>
         <tr>
            <td>         MHJ-587    </td>
            <td>           Black Rice </td>
            <td>          40 (38) <span class="uom">CTN</span>    </td>
         </tr>
         <tr>
            <td>         JYQ-7889    </td>
            <td>           Onions   </td>
            <td>          200 <span class="uom">CTN</span>    </td>
         </tr>
       </table>
      </article>

     



    </section> -->
  </main>


  <main id="sku-list" class="container-fluid">

    <section class="row">

      <article class="col-3 ">
        TJK-7792
      </article>
      <article class="col ">
        Mackarel
      </article>
      <article class="col-auto ">
        20
        <span class="uom">CTN</span>
      </article>
      <article class="col-auto ">
        <i class="material-icons">edit</i>
      </article>
    </section>

    <section class="row exception">
     
        <article class="col-3 ">
          AEC-616
        </article>
        <article class="col ">
          Duck Eggs
        </article>
        <article class="col-auto ">
          50
          <span class="exception-qty">(46)</span> &nbsp;
          <span class="uom">CTN</span>
        </article>
        <article class="col-auto ">
            <a class="" routerLink="/sku"> <i class="material-icons">edit</i> </a>
        </article>
        <article class="col-12 sku-thumbs">
          <img src="https://res.cloudinary.com/manfuku/image/upload/c_crop,h_150,w_150/v1540134205/images_eopmso.jpg">
          <img src="https://res.cloudinary.com/manfuku/image/upload/c_crop,h_150,w_150/v1540134205/images_eopmso.jpg">
          <img src="https://res.cloudinary.com/manfuku/image/upload/c_crop,h_150,w_150/v1540134205/images_eopmso.jpg">
        </article>
     
    </section>

    <section class="row">
      <article class="col-3 ">
        BZG-792
      </article>
      <article class="col ">
        Red Rice
      </article>
      <article class="col-auto ">
        50
        <span class="uom">CTN</span>
      </article>
      <article class="col-auto ">
        <i class="material-icons">edit</i>
      </article>
    </section>

    <section class="row">
      <article class="col-3 ">
        TJK-7792
      </article>
      <article class="col ">
        Mackarel
      </article>
      <article class="col-auto ">
        20
        <span class="uom">CTN</span>
      </article>
      <article class="col-auto ">
        <i class="material-icons">edit</i>
      </article>
    </section>

    <section class="row exception">
      <article class="col-3 ">
        TRZ-616
      </article>
      <article class="col ">
        Flour
      </article>
      <article class="col-auto ">
        50 (45)
        <span class="uom">CTN</span>
      </article>
      <article class="col-auto ">
        <i class="material-icons">edit</i>
      </article>
    </section>

    <section class="row">
      <article class="col-3 ">
        AEC-616
      </article>
      <article class="col ">
        Duck Eggs
      </article>
      <article class="col-auto ">
        50
        <span class="uom">CTN</span>
      </article>
      <article class="col-auto ">
        <i class="material-icons">edit</i>
      </article>
    </section>


  </main>


  <!-- <button class="btn-footer">Submit ePod</button> -->
  <footer id="submit" class="container-fluid">
    <section class="row slide-track align-items-center">
      <article class="col-3 ">
        <i class="material-icons">
          arrow_forward
        </i>
      </article>
      <article class="col-6 h3_off text-center">
        Slide to Submit
      </article>
    </section>

  </footer>
</div>