<div id="sku">


    <header id="header" class="container-fluid  fixed">

        <section id="page-title" class="row align-items-center">

            <article class="col-auto " id="menu-toggle">
                <a class="" routerLink="/epod">
                    <i class="material-icons">close</i>
                </a>
            </article>

            <article class="col p-0 ">
                <span class="h4 feed-shipment-status">NSTL-1288938</span>
                <h1 class="feed-shipment-number"> AEC-616</h1>
            </article>

            <article class="col-auto " >
                    <a class="" routerLink="/epod">
                        <!-- <i class="material-icons">save</i> <strong>SAVE</strong> -->
                        <i class="material-icons">check</i>
                    </a>
                </article>

        </section>



    </header>


    <main id="details" class=" container-fluid ">
        <section class="row">

            <article class="col-6 ">
                <span class="h4">Product Description</span>
                <p class=""> Duck Eggs </p>
            </article>

            <article class="col-3 ">
                <span class="h4">Ordered </span>
                <p class=""> 50</p>
            </article>

            <article class="col-3 ">
                    <span class="h4">Loaded </span>
                    <p class=""> 50</p>
                </article>

            <article class="col-3 ">
                <span class="h4">Received</span>
                <p class=""> 48</p>
            </article>

            <article class="col-3 ">
                <span class="h4">Damaged</span>
                <p class="fake-text-input"> 1</p>
            </article>


            <article class="col-3 ">
                <span class="h4">Short</span>
                <p class="fake-text-input"> 1</p>
            </article>


            <article class="col-3 ">
                <span class="h4">Over</span>
                <p class="fake-text-input"> 0</p>
            </article>

            <article class="col-12 ">
                <span class="h4">Line Item Comments</span>
                <p class="fake-text-input">Lorem ipsum dolor sit amet, consect etuer adipiscing elit. Cum sociis ipsum doloulus mus. </p>
            </article>

            <article class="col-12 sku-thumbs">
                <img src="https://res.cloudinary.com/manfuku/image/upload/c_crop,h_150,w_150/v1540134205/images_eopmso.jpg">
                <img src="https://res.cloudinary.com/manfuku/image/upload/c_crop,h_150,w_150/v1540134205/images_eopmso.jpg">
                <img src="https://res.cloudinary.com/manfuku/image/upload/c_crop,h_150,w_150/v1540134205/images_eopmso.jpg">
            </article>

          <!--   <article class="col-12">
                <button class="btn btn-block">
                    <i class="material-icons">
                        photo_camera
                    </i> Take Photo</button>
            </article>
            <article class="col-12">
                <button class="btn btn-block">
                    <i class="material-icons">
                        photo_library
                    </i> Add from Library</button>
            </article> -->

        </section>


    </main>

<span class="fab">
    <i class="material-icons">
            photo_camera
        </i> 
    </span>

   <!--  <footer id="save" class="container-fluid">
        <section class="row  align-items-center">
            <article class="col-3 ">
                <i class="material-icons">
                    arrow_forward
                </i>
            </article>
            <article class="col-6 h3_off text-center">
                Save Details
            </article>
        </section>

    </footer> -->
</div>