<div id="shipment-details" class="shipment-details">


  <header id="header" class="container-fluid  fixed">

    <section id="page-title" class="row align-items-center">

      <article class="col-auto " id="menu-toggle">
        <a class="" routerLink="/">
          <i class="material-icons">arrow_back</i>
        </a>
      </article>

      <article class="col-auto p-0 ">
        <span class="h4 feed-shipment-status">Shipment No.</span>
        <h1 class="feed-shipment-number">NSTL-1288938</h1>
      </article>

    </section>

    <aside class="row align-items-center shipment-details-nav">

      <article class="col-auto ">
        <a class="" routerLink="/tnt"> Track &amp; Trace</a>
      </article>

      <article class="col-auto ">
        <a class="" routerLink="/details" routerLinkActive="link-active"> Details</a>
      </article>

      <article class="col-auto ">
        <a class="" routerLink="/epod"> ePod</a>
      </article>

    </aside>

  </header>


  <main id="details" class=" container-fluid ">
    <section class="row">

      <article class="col-12 ">
        <span class="h4">Order No.</span>
        <p>ODR-88791-HJ</p>
      </article>

      <article class="col-6 ">
        <span class="h4">Shipper</span>
        <p>Cebu Shippers Inc</p>
      </article>

      <article class="col-6 ">
        <span class="h4">Transporter</span>
        <p>Mega Transport Co</p>
      </article>

      <article class="col-12 ">
        <span class="h4">Origin</span>
        <p>Jl Letjen South Parman Kav 76 Wisma Calindra Lt 3</p>
      </article>

      <article class="col-12 ">
        <span class="h4">Destination</span>
        <p>Jl Jend Gatot Subroto Km 8, Jatake</p>
      </article>



      <article class="col-6 ">
        <span class="h4">Total unit count</span>
        <p>100</p>
      </article>
      <article class="col-6 ">
        <span class="h4">Requested delivery date</span>
        <p>2018-10-15</p>
      </article>
      <article class="col-6 ">
        <span class="h4">Driver</span>
        <p>Eka Dwi Jayadi</p>
      </article>
      <article class="col-6 ">
        <span class="h4">Driver Mobile No.</span>
        <p>082389238621</p>
      </article>



    </section>
  </main>

</div>