<main id="feed">

  <header id="header" class="container-fluid fixed">
    
    <section  id="page-title"class="row align-items-center">

  <!--     <article class="col-auto " id="menu-toggle">
        <i class="material-icons">menu</i>
      </article> -->

      <article class="col-auto pr-0" id="logo">
        <img src="//assets.openport.com/icon/icon-op-app-logo-white.svg">
      </article>

      <article class="col" id="view-title" style="padding-left: 0.25rem">Consignee</article>

      <article class="col-auto " >
          <i class="material-icons">history</i>
        </article>
    </section>

  </header>

  <main id="forEpod" class=" container-fluid shipmentGroup">
    <header class="row  section-title align-items-center">
      <article class="col mr-auto">
        <h3 class="">Arriving</h3>
      </article>
      <article class="col-auto">
        <i class="material-icons">expand_less</i>
      </article>
    </header>
    <section class="row feed-shipment-item">
      <article class="col ">
        <a class="" routerLink="tnt">

          <h1 class="feed-shipment-number">NSTL-1288938</h1>
          <span class="h4 shipment-status">Start Unloading / ETA 30m</span>

        </a>
      </article>
    </section>
    <section class="row feed-shipment-item">
      <article class="col ">
        <h1 class="feed-shipment-number">XHRT-8966210</h1>
        <span class="h4 shipment-status">Departing Delivery / ETA 5h 30m</span>
      </article>
    </section>
  </main>

  <main id="forDelivery" class=" container-fluid shipmentGroup">
    <header class="row section-title align-items-center">
      <article class="col ">
        <h3 class="">Processing</h3>
      </article>
      <article class="col-auto ml-auto">
        <i class="material-icons">expand_less</i>
      </article>
    </header>

    <section class="row feed-shipment-item">
      <article class="col ">
        <h1 class="feed-shipment-number">WDJQ-1288938</h1>
        <span class="h4 shipment-status">Start loading</span>
      </article>
    </section>
    <section class="row feed-shipment-item">
      <article class="col ">
        <h1 class="feed-shipment-number">WDJQ-1288938</h1>
        <span class="h4 shipment-status">Start loading</span>
      </article>
    </section>
    <section class="row feed-shipment-item">
      <article class="col ">
        <h1 class="feed-shipment-number">RQZT-8966210</h1>
        <span class="h4 shipment-status">Picked Up</span>
      </article>
    </section>
  </main>

  <main id="forPending" class=" container-fluid shipmentGroup">
    <header class="row section-title align-items-center">
      <article class="col ">
        <h3 class="">Future Shipments</h3>
      </article>
      <article class="col-auto ml-auto">
        <i class="material-icons">expand_less</i>
      </article>
    </header>

    <section class="row feed-shipment-item">
      <article class="col ">
        <h1 class="feed-shipment-number">YRGH-1288938</h1>
        <span class="h4 shipment-status">Start Unloading</span>
      </article>
    </section>
    <section class="row feed-shipment-item">
      <article class="col ">
        <h1 class="feed-shipment-number">ASKL-8966210</h1>
        <span class="h4 shipment-status">Departing Delivery</span>
      </article>
    </section>
    <section class="row feed-shipment-item">
      <article class="col ">
        <h1 class="feed-shipment-number">MBHJ-1288938</h1>
        <span class="h4 shipment-status">Start Unloading</span>
      </article>
    </section>
    <section class="row feed-shipment-item">
      <article class="col ">
        <h1 class="feed-shipment-number">OPYR-8966210</h1>
        <span class="h4 shipment-status">Departing Delivery</span>
      </article>
    </section>
  </main>

</main>