@import '../../../variables';
#tnt-map {
    height: 25vh;
    overflow: hidden;
    background: url(https://res.cloudinary.com/manfuku/image/upload/v1539848322/map_vloohx.png);
    background-size: cover;
    background-position: center center;
    position: relative;
    >.row {
        >* {
            padding: 0;
            .last-location {
                background: $color-blue-3of5;
                position: absolute;
                left: 1rem;
                bottom: -1.5rem; //top: -1rem;
                // top: auto;
                padding: 0.5rem 0.75rem;
                display: block;
            }
            .tnt-map-refresh {
                background: /* #fff;
                color:  */
                $color-blue-3of5; //box-shadow: 1px;
                position: absolute;
                right: 0.5rem;
                top: -0.5rem;
                right: 1rem;
                top: 0;
                padding: 0.25rem;
                border-radius: 50%;
                bottom: 0rem;
                top: auto;
            }
        }
        &#tnt-map-info {
            background: rgba($color-blue-3of5, 0.25);
        }
    }
    img {
        max-width: 100%;
    }
}

#tnt-history {
    position: relative;
    &:before {
        content: "";
        width: 2px;
        margin-left: -1px;
        background: #fff;
        position: absolute;
        top: 2rem;
        bottom: 2rem;
        left: 1.75rem;
        opacity: 0.25;
    }
    >.row {
        //padding-left: 2.5rem;
        position: relative;
        padding: 1rem 0 0 2.5rem;
        &:before {
            font-family: "Material Icons";
            content: "\e86c";
            position: absolute;
            left: 1rem;
            top: 50%;
            margin-top: 0.25rem;
            transform: translateY(-55%);
            font-size: 24px;
            background: $color-blue-3of5;
            border-radius: 50%;
            padding: 4px;
            margin-left: -4px;
            z-index: 1;
            color: rgba(#fff, 0.25);
        }
        &.tnt-current {
            &:before {
                color: #fff;
                content: "\e55c";
            }
            P {
                font-weight: 700 !important;
            }
            
        }
        p {
           
            margin: 0 0 0.25rem;
        }
    }
}