<div id="tnt" class="shipment-details">


  <header id="header" class="container-fluid  fixed">

    <section id="page-title" class="row align-items-center">

      <article class="col-auto " id="menu-toggle">
        <a class="" routerLink="/">
          <i class="material-icons">arrow_back</i>
        </a>
      </article>

      <article class="col-auto p-0 ">
        <span class="h4 feed-shipment-status">Shipment No.</span>
        <h1 class="feed-shipment-number">NSTL-1288938</h1>
      </article>

    </section>

    <aside class="row align-items-center shipment-details-nav">

      <article class="col-auto ">
        <a class="" routerLink="/tnt" routerLinkActive="link-active"> Track &amp; Trace</a>
      </article>

      <article class="col-auto ">
        <a class="" routerLink="/details"> Details</a>
      </article>

      <article class="col-auto ">
        <a class="" routerLink="/epod"> ePod</a>
      </article>

    </aside>

  </header>



  <main id="tnt-map" class=" container-fluid ">
    <section class="row align-items-end">
        <article class="col mr-auto">
            <span class="h4">As of 17:11 GMT+5 </span>
          </article>
          <article class="col-auto">
            <i class="material-icons">refresh</i>
          </article>
    </section>
  </main>

  <!-- <main id="tnt-last-loc" class=" container-fluid  ">
  <header class="row  section-title align-items-center pb-0">
      <article class="col mr-auto">
        <span class="h4">As of 17:11 GMT+5 </span>
      </article>
      <article class="col-auto">
        <i class="material-icons">refresh</i>
      </article>
    </header>
    </main> -->

  <main id="tnt-history" class=" container-fluid ">

     
    <section class="row  tnt-current ">
      <article class="col ">
        <p class="feed-shipment-number text-bold">Start Unloading</p>
        <span class="h4 feed-shipment-status">Lorem ipsum dolor sit amet</span>
      </article>
    </section>
    <section class="row feed-shipment ">
      <article class="col ">
        <p class="feed-shipment-number">Lorem ipsum dolor</p>
        <span class="h4 feed-shipment-status">Lorem ipsum dolor sit amet, consect etuer adipiscing elit. Cum sociis ipsum doloulus mus. </span>
      </article>
    </section>
    <section class="row feed-shipment">
      <article class="col ">
        <p class="feed-shipment-number">Lorem ipsum dolor</p>
        <span class="h4 feed-shipment-status">Lorem ipsum dolor sit amet</span>
      </article>
    </section>
    <section class="row feed-shipment">
      <article class="col ">
        <p class="feed-shipment-number">Departed</p>
        <span class="h4 feed-shipment-status">Lorem ipsum dolor sit amet</span>
      </article>
    </section>
  </main>

  <span class="fab">
      <i class="material-icons">
              refresh
          </i> 
      </span>
  

</div>