$font-primary:			Hurme Geometric Sans, Source Sans Pro;
$font-secondary:		Real Text, Source Sans Pro;
$font-base:				Source Sans Pro;
$font-monospace:		Roboto Mono;

$color-blue-dark:		#152044;
$color-blue-electric:	#006DFF;
$color-blue-pale:		#5EA3FF;
$color-han-purple:		#651FFF;
$color-neon-teal:		#1DE9B6;
$color-off-gray:		#F2F1F2;

$color-red:		        #f00;

@mixin fixed {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 99999;
}

$color-white:			#FFF;
$color-gold:			#FFB300;

$color-base:			$color-blue-dark;
$color-background:		darken($color-off-gray,15%);

$border:				1px rgba($color-background,0.5) solid;
$border-radius:			3px;

$section-padding:		1rem;
$header-height:			$section-padding * 4;
$sorter-height:			$section-padding * 3;

$box-shadow: 			0 0.5rem 1rem 0 rgba(#000,0.125);



$color-blue-1of5: $color-blue-electric;
//$color-blue-2of5: #0B47A2;
$color-blue-3of5: #0B47A2;
$color-blue-4of5: #103373;
$color-blue-5of5: $color-blue-dark;

$color-green:       #689f38;

@mixin fixed {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 99999;
}