@import 'variables';
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-green);
$candy-app-accent: mat-palette($mat-green);
// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
body {
    margin: 0;
    font: 16px/1.25 $font-base;
    /*  background: $color-blue-5of5;
    background: $color-han-purple; */
    color: #fff;
    user-select: none;
}

a {
    color: inherit;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

i.material-icons {
    vertical-align: middle;
}

h1,
h2,
h3,
p {
    margin: 0; //RESET MARGIN
}

h1 {
    font-family: $font-primary;
    font-size: 1.25rem;
    text-transform: uppercase;
}

h3,
.h3 {
    font-family: $font-primary;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.h4,
.mat-form-field-label {
    //opacity: 0.5;
    font-size: 0.75rem;
    text-transform: capitalize;
    text-transform: uppercase;
}

p {
    //margin-bottom: 0.5;
}

.error {
    //color: #fc0;
    font-size: 0.75rem; //font-style: italic;
}

.app-root>*>* {
    height: 100vh;
}

.container,
.container-fluid {
    padding: 0 $section-padding;
    .row {
        margin: 0 -1rem; //padding: $section-padding 0 $section-padding/2;
        padding: $section-padding 0 $section-padding/2;
        >* {
            //columns
            padding: 0 $section-padding;
            margin-bottom: $section-padding/2;
            align-items: center;
            >* {
                //margin-bottom: $section-padding/2;
                &:last-child {
                    //margin-bottom: 0;
                }
            }
        }
    }
}

header#header {
    top: 0; //opacity: 0.95;
    #page-title {
        height: $header-height;
        background: $color-blue-1of5;
        h4,
        .h4 {
            opacity: 1;
            margin-bottom: 0;
        }
    }
    &.fixed {
        @include fixed;
    }
}

#logo {
    img {
        width: 2rem;
        height: auto;
    }
}

#view-title {
    font-family: Work Sans, $font-primary;
    font-size: 1.5rem; //text-transform: uppercase;
}

#reset,
#signature,
#login,
#register,
#otp {
    background: $color-blue-3of5;
    #details {
        //background: $color-blue-3of5;
        overflow: hidden; // margin-top: calc(#{$header-height} + 1rem);
        margin-top: $header-height;
    }
    h1 {
        text-transform: capitalize;
    }
}

#feed {
    margin-top: 4rem;
    .shipmentGroup {
        padding-bottom: 0.5rem; //&#forEpod,
        &#forEpod {
            background: $color-blue-3of5;
        }
        &#forDelivery {
            background: $color-blue-4of5;
        }
        &#forPending {
            background: $color-blue-5of5;
            .feed-shipment-status {
                display: none;
            }
        }
        .row.feed-shipment-item {
            padding-top: 0;
        }
    }
}

.shipment-details {
    background: $color-blue-3of5;
    padding-top: 7rem;
    min-height: 100vh;
    #header {
        #page-title {
            .h4 {
                // opacity: 1;
            }
        }
        .shipment-details-nav {
            font-family: $font-primary;
            font-size: 0.8rem;
            text-transform: uppercase;
            height: 3rem;
            background: $color-blue-1of5;
            >*>* {
                opacity: 0.5;
                &.link-active {
                    opacity: 1;
                }
            }
        }
    }
}

/* .mat-form-field {
    font-family: inherit;
    .mat-form-field-wrapper {
        padding-bottom: 0.25rem;
        .mat-form-field-flex {
            .mat-form-field-infix {
                width: 100% !important; //min-width: 500px !important;
                .mat-form-field-label {
                    color: #fff; //transform: translateY(-1.325rem) scale(0.75);
                    opacity: 0.375; //transform: none;
                }
            }
        }
        .mat-form-field-underline {
            background-color: transparent;
        }
    }
} */

/* #feed,
#tnt-history,
#shipment-epod #details,
#shipment-details #details,
#details #feed .shipmentGroup,
#sku #details {
    .h4 {
        opacity: 0.375;
        margin-bottom: 0.25rem;
        display: block;
    }
    p {
        margin-bottom: 0.5rem;
    }
} */

.h4 {
    opacity: 0.375;
    margin-bottom: 0.25rem;
    display: block;
}

p {
    margin-bottom: 0.5rem;
}

.fake-text-input {
    //margin-bottom: 1rem;
    &:after {
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        background: #fff;
        margin-top: 0.5rem;
    }
}

table {
    width: 100%;
    font-size: 1rem;
    margin: 0 -0.5rem;
    td {
        padding: 0.5rem;
    }
}

#sku-list {
    //padding: 0 0.5rem;
    padding: 0 0 $header-height;
    font-size: 0.9rem; //overflow: hidden;
    background: inherit; //margin-bottom: 5rem;
    .row {
        margin: 0;
        padding: 0.75rem 0.5rem 0.25rem;
        padding: 1rem 0.5rem 0.5rem;
        &:nth-child(odd) {
            background: darken($color-blue-3of5, 3.75%); //background: lighten($color-blue-3of5,5%);
        }
        >* {
            padding: 0 0.5rem;
            &:first-child {
                font-weight: 700;
            }
        }
        .material-icons {
            font-size: calc(24px*0.75);
            font-size: 18px;
        }
        &.exception {
            position: relative;
            &:before {
                content: "";
                width: 0.25rem;
                height: 100%;
                position: absolute;
                background: rgba($color-red, 0.5);
                background: $color-red; //background: $color-han-purple;
                top: 0;
                left: 0;
            }
        }
    }
}

.btn {
    background: $color-blue-1of5;
    background: $color-green;
    border-radius: $border-radius;
    color: #fff;
    font-weight: 700; // font-size: 0.75rem;
    /* 
    font-family: $font-primary; */
    /* text-transform: uppercase;
    font-size: 1.25rem; */
}

.sku-thumbs {
    //margin-bottom: 1rem !important;
    img {
        float: left;
        margin-right: 0.5rem;
        width: 3rem;
        height: 3rem;
        width: 3rem;
        height: 3rem;
    }
}

/* .exception-qty {
    z-index: 999;
    position: relative;
    &:after {
        content: "";
        background: red;
        position: absolute;
        z-index: 1;
        width: 1.75rem;
        height: 1.75rem;
        text-align: center;
        line-height: 1.5rem;
        border-radius: 50%;
        top: 0;
        left: 0;
    }
} */

.uom {
    font-size: 0.75rem;
}

$submit-height: 4rem;
.btn-footer {
    width: 100%;
    position: fixed;
    bottom: 0; //padding: 1.25rem;
    height: $submit-height;
    line-height: $submit-height;
    background: #689f38;
    border: none;
    font-size: 1.25rem;
    color: #fff;
    font-family: $font-primary;
    text-transform: uppercase;
}

#submit {
    background: #689f38;
    color: #fff;
    font-weight: 700;
    width: 100%;
    position: fixed;
    bottom: 0; //   margin: 1rem 0;
    .row {
        height: $header-height;
        padding: 0;
        >* {
            margin: 0;
        }
        &.slide-track::before {
            content: "";
            background: darken(#689f38, 10%);
            width: calc(100% - 1.5rem);
            height: 3rem;
            position: absolute;
            left: 0.75rem;
            border-radius: 1.5rem; //padding: 0.5rem;
        }
    }
    .material-icons {
        background: #fff;
        color: #689f38;
        padding: 0.5rem;
        border-radius: 50%;
    }
}

.fab .material-icons {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: #fff;
    color: $color-blue-3of5;
    /* background: $color-blue-1of5;
    color: #fff; */
    padding: 1rem;
    border-radius: 50%;
    float: left;
    display: block;
}